/*--------------------------------------------------------------------
*
* FOOTER
*
--------------------------------------------------------------------*/
.footer-main
    .nav-footer
        text-align center
        background-color #999