/*--------------------------------------------------------------------
*
* FOOTER
*
--------------------------------------------------------------------*/
.footer-main
    .nav-footer
        padding 1rem
        text-align center
        background-color #999
        a,
        button
            margin 0 1rem