.tile-wrapper
  text-align center
.portfolio-tile
  display inline-block
  width 15rem
  height 15rem
  margin 1rem
  padding 1rem 1rem 4.5rem 1rem
  vertical-align top
  text-align center
  background-color #ccc
  position relative
  .tile-date
      font-size 1.1rem
      text-align right
      position absolute
      bottom 1rem
      right 1rem