<section class="splash-sub">
    <h1>A single page app with a native JS bootstrap implementation</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, officiis omnis. Eligendi hic, perferendis dolore vel quisquam natus modi, quae iusto quam perspiciatis ipsam at odit, vitae, accusamus consequuntur nobis.</p>
</section>