<section class="home-content">
    <section class="splash-main" data-hook="splash-main"></section>
    <section class="splash-sub" data-hook="splash-sub"></section>
    <section class="tabs services" data-hook="home-tabs"></section>
</section>