<section class="tabs services" data-hook="home-tabs">
    <h2>Tab Sample</h2>
    <ul  class="nav nav-tabs" role="tablist" data-hook="tabs-nav"></ul>
    <div class="tab-content" data-hook="tabs-content"></div>
</section>