<body>
    <header class="header-main">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">PixelSavant</a>
                </div>

                <!--<ul class="nav navbar-nav">
                <li><a href="/">Portfolio</a></li>
                <li><a href="contact">Contact</a></li>
              </ul>-->

            </div>
        </nav>
    </header>

    <section class="container-fluid">
        <main data-hook="page-container"></main>
    </section>
    <footer class="footer-main">
        <nav class="nav-footer cf">
          <a class="phone" href="tel:6085207550">608-520-7550</a>
          <a class="email" href="mailto:jnovick@pixlesavant.net">jnovick@pixlesavant.net</a>
          <button class="send-message" data-toggle="modal" class="btn btn-default btn-lg" data-target="#myModal" data-hook="message-me">Message Me</button>
          
          
        </nav>
    </footer>
    
    <div id="myModal" class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

        </div>
      </div>
    </div>

</body>