<body>
    <header class="header-main">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">PixelSavant Portfolio</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="contact">Contact</a></li>
              </ul>
            </div>
        </nav>
    </header>

    <section class="container-fluid">
        <main data-hook="page-container"></main>
    </section>
    <footer class="footer-main">
        <nav class="navbar nav-footer navbar-fixed-bottom">
          <a class="phone" href="tel:6085207550">608-520-7550</a>
          <a class="email" href="mailto:jnovick@pixlesavant.net">jnovick@pixlesavant.net</a>
          <a href="contact" class="send-message" data-toggle="modal" class="btn btn-default" data-target="#myModal" data-hook="message-me">Message Me</a>
        </nav>
    </footer>
    
    <section id="myModal" class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <section class="modal-dialog">
        <section class="modal-content"></section>
      </section>
    </section>

</body>