<body>
    <header class="header-main">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">PixelSavant Portfolio</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="contact">Contact</a></li>
              </ul>
            </div>
        </nav>
    </header>

    <section class="container-fluid">
        <main data-hook="page-container"></main>
    </section>
    <footer class="footer-main">
        <nav class="navbar nav-footer navbar-fixed-bottom">
          <a class="phone" href="tel:6085207550"><span class="glyphicon glyphicon-earphone"></span> 608-520-7550</a>
          <a class="email" href="mailto:jnovick@pixlesavant.net"><span class="glyphicon glyphicon-envelope"></span> jnovick@pixlesavant.net</a>
          <button type="button" data-toggle="modal" class="btn btn-primary" data-target="#myModal" data-hook="message-me-modal">Message Me</button>
        </nav>
    </footer>

</body>