<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">PixelSavant</a>
      </div>
      
      <!--<ul class="nav navbar-nav">
        <li><a href="/">Portfolio</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>-->
      
    </div>
  </nav>
  <section class="container">
    <main data-hook="page-container"></main>
    <footer class="footer-main">
        <nav class="nav-footer cf">
          
        </nav>
        
      </footer>
  </section>
    
      
</body>
  