<fieldset class="form-item input text form-group">
    <label data-hook="label"></label>
    <p id="helpBlock" class="help-block" data-hook="description"></p>
    <figure class="inline-error bg-danger" data-hook="message-container">
           <i class="fa fa-asterisk"></i>
        <p data-hook="message-text control-label"></p>
    </figure>
    <input class="form-control" type="text"/>
</fieldset>