<section class="portfolio-tile" data-hook="tile-item">
    <h3 data-hook="tile-title"></h3>
    <div class="tile-date">
      <span class="date-start" data-hook="date-start"></span>
      <span class="date-end" data-hook="date-end"></span>
    </div>
</section>