<section class="portfolio-tile" data-hook="tile-item">
    <h4 data-hook="tile-title"></h4>
    <div class="tile-date">
      <strong>From:</strong> <span class="date start" data-hook="date-start"></span>
      <br>
      <strong>To:</strong> <span class="date end" data-hook="date-end"></span>
    </div>
</section>